#text {
    width: 53%;
    background: transparent;
    border: 1px solid gray;
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    word-break: break-all;
}
.main {
    width: 85%;
    float: left;
    position: relative;
    z-index: 0;
}
.send-control {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    z-index: 1;
}
.send-control:hover {
    cursor: pointer;
}
#clear-text, #clear-media {
    margin-left: 20px;
}
.media-wrapper {
    width: 14%;
    height: 100%;
    float: right;
}
.media-list {
    overflow-y: scroll;
    height: 100%;
    background-color: #000000;
}
.media-list .media-item {
    margin-bottom: 10px;
    position: relative;
}
.media-list .media-item.video:before {
    content: 'Video';
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 15px;
    color: red;
}
.media-list .media-item img, .media-list .media-item video{
    width: 100%;
}
.media-list .media-item img:hover{
    cursor: pointer;
}
